.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1rem;
  row-gap: 2rem;
}
.charactersContainer {
  width: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
  gap: 12px;
}
@media (min-width: 390px) {
  .charactersContainer {
    grid-template-columns: repeat(auto-fit, minmax(172px, 1fr));
  }
}
@media (min-width: 768px) {
  .main {
    padding: 3rem;
  }
}
@media (min-width: 1024px) {
  .charactersContainer {
    grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
  }
}
